/*
 Theme Name:     uiux-unit-tests
 Theme URI:      http://web.wsu.edu
 Description:    A child theme for Washington State University's Spine framework
 Author:         WSU University Communications
 Author URI:     http://ucomm.wsu.edu
 Template:       spine
 Version:        0.0.1
*/


/* general styles */
.icon-test-arrow #shelve:after {
	content: "";
	width: 6px;
	height: 6px;
	background: transparent;
	display: block;
	position: absolute;
	top: 21px;
	right: 10px;
	border-top: 3px #B5BABE solid;
	border-right: 3px #B5BABE solid;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.icon-test-arrow .unshelved #shelve:after {
	border-top: none;
	border-right: none;
	border-left: 3px #B5BABE solid;
	border-bottom: 3px #B5BABE solid;
	right: 5px;
}

@-webkit-keyframes shelved,
@keyframes shelved {
	/* Webkit */
	0% {
		width: 3px;
	}
	
	50% {
		width: 3px;
	}
	
	100% {
		width: 20px;
	}
}

@-webkit-keyframes unshelved,
@keyframes unshelved {
	/* Webkit */
	0% {
		width: 20px;
	}
	
	50% {
		width: 20px;
	}
	
	100% {
		width: 3px;
	}
}

@-webkit-keyframes animate,
@keyframes animate {
	0% {
		height: 0;
		top: 24px;
	}
	
	35% {
		height: 0;
		top: 24px;
		left: 18px;
		width: 20px;
	}
	
	40% {
		height: 15px;
		width: 35px;
		left: 13px;
		top: 18px;
	}
	
	60% {
		height: 15px;
		width: 35px;
		left: 13px;
		top: 18px;
	}
	
	65% {
		height: 0;
		top: 24px;
		left: 18px;
		width: 20px;
	}
	
	100% {
		height: 0;
	}
}

@-webkit-keyframes animateb,
@keyframes animateb {
	0% {
		height: 15px;
		width: 35px;
		left: 13px;
		top: 18px;
	}
	
	40% {
		height: 15px;
		width: 35px;
		left: 13px;
		top: 18px;
	}
	
	60% {
		height: 15px;
		width: 35px;
		left: 13px;
		top: 18px;
	}
	
	65% {
		height: 0;
		top: 24px;
		left: 18px;
		width: 20px;
	}
	
	100% {
		height: 0;
	}
}

@-webkit-keyframes pulsate,
@keyframes pulsate {
	0% {
		opacity: .35;
		filter: alpha(opacity=35);
	}
	
	10% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	
	20% {
		opacity: .65;
		filter: alpha(opacity=65);
	}
	
	30% {
		opacity: .8;
		filter: alpha(opacity=80);
	}
	
	40% {
		opacity: .9;
		filter: alpha(opacity=90);
	}
	
	50% {
		opacity: 1;
		filter: alpha(opacity=100);
	}
	
	60% {
		opacity: .9;
		filter: alpha(opacity=90);
	}
	
	70% {
		opacity: .8;
		filter: alpha(opacity=80);
	}
	
	80% {
		opacity: .65;
		filter: alpha(opacity=65);
	}
	
	90% {
		opacity: .5;
		filter: alpha(opacity=50);
	}
	
	100% {
		opacity: .35;
		filter: alpha(opacity=35);
	}
}

.icon-test-block #shelve,
.icon-test-grow #shelve,
.icon-test-pulse #shelve,
.icon-test-color #shelve,
.icon-test-text #shelve,
.icon-test-animated #shelve,
.icon-test-arrow #shelve {
	background: none !important;
	position: relative;
	padding-left: 1.25em;
	background-color: #B5BABE !important;
	width: 60px !important;
}

.icon-test-grow #shelve,
.icon-test-pulse #shelve,
.icon-test-color #shelve,
.icon-test-text #shelve,
.icon-test-animated #shelve,
.icon-test-arrow #shelve {
	background-color: transparent !important;
}

.icon-test-block #shelve:before,
.icon-test-grow #shelve:before,
.icon-test-pulse #shelve:before,
.icon-test-color #shelve:before,
.icon-test-text #shelve:before,
.icon-test-animated #shelve:before,
.icon-test-arrow #shelve:before {
	content: "";
	position: absolute;
	left: 18px;
	top: 18px;
	width: 20px;
	height: 3px;
	background: white;
	box-shadow: 0 6px 0 0 white, 0 12px 0 0 white;
}

.icon-test-text #shelve,
.icon-test-animated #shelve {
	overflow: visible !important;
	padding: 0 !important;
	position: relative;
}

.icon-test-text #shelve {
	top: -8px !important;
}

.icon-test-text .shelved #shelve:after,
.icon-test-animated #shelve:after {
	content: "Menu" !important;
	font-size: 10px;
	text-transform: uppercase;
	display: block !important;
	color: #B5BABE !important;
	color: #8d959a !important;
	position: absolute !important;
	top: 37px;
	left: 13px;
	text-align: left !important;
	overflow: hidden;
	text-indent: 0;
	padding: 0 !important;
}

.icon-test-animated #shelve:after {
	-webkit-animation: animateb 5s 1;
	top: 24px;
	left: 18px;
	width: 20px;
	font-size: 10px;
	height: 0;
	color: white !important;
	background: #B5BABE;
	text-align: center !important;
	text-indent: 0;
	padding: 3px 0 0 !important;
}

.icon-test-grow #shelve:before {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-webkit-animation: shelved 2s;
	-moz-animation: shelved 2s;
}

.icon-test-grow #shelve:before,
.icon-test-pulse #shelve:before,
.icon-test-text #shelve:before,
.icon-test-animated #shelve:before,
.icon-test-arrow #shelve:before {
	background: #B5BABE;
	box-shadow: 0 6px 0 0 #B5BABE, 0 12px 0 0 #B5BABE;
}

.icon-test-color #shelve:before {
	background: #981e32;
	box-shadow: 0 6px 0 0 #981e32, 0 12px 0 0 #981e32;
}

.icon-test-color #shelve:before {
	background: black;
	box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
}

.icon-test-grow .unshelved #shelve:before {
	width: 3px;
	left: 27px;
}

.icon-test-pulse #shelve:before {
	background: #8d959a;
	box-shadow: 0 6px 0 0 #8d959a, 0 12px 0 0 #8d959a;
}

.icon-test-pulse .shelved #shelve:before {
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 3s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-iteration-count: infinite;
}

#spine .spine-sitenav:not(.homeless) > ul > li:first-child > a {
	background-image: none !important;
	padding-left: 0 !important;
}
